<div style="text-align:center">
    <div class="btn-group" role="group" aria-label="Basic example"> 
        <nav>    
    <button class="height"routerLinkActive="active" routerLink="/add">Add</button>
    <button class="height"routerLinkActive="active" routerLink="/delete">delete</button>  
    <button class="height"routerLinkActive="active" routerLink="/fetch">Fetch</button>
    <button class="height"routerLinkActive="active" routerLink="/update">update</button>
  </nav>
        </div>  
    <router-outlet></router-outlet>

  </div>